:root {
    font-size: 87.5%;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000000; 
    cursor: none;
}

#cursor-blob {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-color: rgba(72, 7, 154, 1); 
    mix-blend-mode: difference; 
}

.particle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: rgba(165, 156, 80, 0.6);
    pointer-events: none;
    animation: fadeAway 1s linear forwards;
}

@keyframes fadeAway {
    from {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }
    to {
        transform: scale(0) rotate(180deg);
        opacity: 0;
    }
}


.background-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    visibility: hidden; 
}

.background-image {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    margin-bottom: 15px; 
}

.content {
    text-align: center;
    color: #F1F0F4;
    font-family: 'Basteleur', sans-serif;
}

h1 {
    font-size: 1.25rem;
    margin: 0.75rem 0; 
    padding: 0;
    line-height: 1.25rem;
}


@media (max-width: 768px) {
    .background-image {
        width: 90%; 
        max-height: 45vh; 
        margin-bottom: 10px; 
    }

    h1 {
        font-size: 1rem;
        margin: 0.5rem 0; 
        line-height: 1rem;
    }
}



::selection {
    color: #7CA580;
    background: #000000;
}


.content-wrapper.visible {
    visibility: visible;
}
