body {
    margin: 0;
    height: 100vh;
    background: #008080; /* You can change this background color */
    overflow-y: hidden;
}

.windows_xp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.window__error {
    width: 90%; 
    max-width: 300px; 
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    cursor: move;
    z-index: 1;
}

.gif {
    position: absolute;
    z-index: -1; 
    max-height: 240px;
    min-height: 70px;
}
